{% extends 'core/base.html' %}




{% block title %}Acerca de {% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

    {% block headers %}
        <h1>Jose David Amaya</h1>
        <span class="subheading">Desarrollador Web</span>
    {% endblock %}

    {% block content %}

    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img src="{% static 'core/img/avatar.jpeg ' %}" height="300px" width="250px" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Jose Amaya</h2>   
            <p>Soy Jose David Amaya practicante del sena en la fabrica de software, donde me desempeño como programador </p>
    </div>
    {% endblock %}

