{% extends 'core/base.html' %}

{% block title %} Contacto {% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

    {% block headers %}
        <h1>Jose David Amaya</h1>
        <span class="subheading">Desarrollador Web</span>
 {% endblock %}

{% block content %}

<div class="container">
     <div class="row">
       <div class="col-lg-8 col-md-10 mx-auto">
         <p> Gracias por visitarme Si tienes alguna pregunta o necesitas ayuda con tu proyecto web, no dudes en ponerte en contacto conmigo. Estoy aquí para ayudarte a hacer realidad tu visión en línea. Espero saber de ti pronto </p>
         <br>
         <p><b>Teléfono:</b> +57 3024296365</p>
         <p><b>Correo:</b></p>
       </div>
     </div>
</div>
{% endblock %}