{% extends 'core/base.html' %}

{% block title %} Portafolio {% endblock %}

{% block background %}{% load static %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock %}

    {% block headers %}
    <h1>Portafolio</h1>
    <span class="subheading">Currículo</span>
    {% endblock %}

    {% block content %}

    <div class="container">
        <!-- Proyecto -->
        <div class="row project">  	
            <div class="col-lg-3 col-md-4 offset-lg-1">
                <img class="img-fluid" src="{% static 'core/img/Fundacion.png' %}" alt="">
            </div>
          <div class="col-lg-7 col-md-8">
                <h2 class="section-heading title">Primer Proyecto</h2>   
            <p> Mi primer proyecto tenia como objetivo principal diseñar una Aplicación Web para involucrar más a la comunidad del territorio y externa con la fundación Goticas de amor animal, con el fin de dar mayor alcance a procesos de la fundación como son: Adopción, postulación de hogares de paso, Voluntariados, Apadrinamiento y donaciones (monetarias, utensilios de aseo y manutención). </p>
            <p><a href="https://github.com/AmayaXitado">Más información</a></p>
            </div>
        </div>
    {% endblock %}
